test/*.exe
*.[ao]
test/gtest*
.vs/*
.mypy_cache/*
src/TEST
build*/*
build2/*
DMFTTEST/*
DMFTTEST2/*
DMFTTEST3/*
testttttt/*
test/data-old/*
benchmarks/Triangle/U7*
benchmarks/Plaquette2x2/U5_b20_int_afm
benchmarks/Plaquette2x2/U5_b20_aux_afm
benchmarks/Triangle/testafm/*
benchmarks/Plaquette2x2/CD/U5_b50_tp_tpp/*
benchmarks/Plaquette2x2/CD/U5_b50_tp_tpp_tmp/*
benchmarks/Plaquette2x2/CD/U5_b50/*
benchmarks/test_aux/*
benchmarks/test_aux_sub/*
docs/_build/*
cmake-build-debug/*
test/Simulations/2x2Square_DCA/*
Ubuntu18/*
tools/build/*
